@use '../abstract/variables';
@use '../components/btn';

.expense-page {
  text-align: center;

  &__deletebtn {
    @extend %btn--floating;
    background-color: variables.$color-danger;
    color: variables.$color-light;
    line-height: 0;

    &:hover {
      background-color: variables.$color-danger-dark;
    }
  }

  &__addbtn {
    @extend %btn--floating;
  }
}
