@use 'sass:color';

/* COLORS */
$color-primary: #FF8C00;
$color-primary-dark: #D97700;
$color-primary-light: #FFA014;

$color-secondary: #1E90FF;
$color-secondary-dark: #1E76CC;
$color-secondary-light: #32A4FF;

$color-tertiary: #32CD32;
$color-tertiary-dark: #329A32;
$color-tertiary-light: #46E146;

$color-danger: #F22828;
$color-danger-dark: #C61B1B;

$color-light: #eee;
$color-lighter: #f4f4f4;

$color-gray: #ededed;
$color-gray-dark: #dbdbdb;

$color-dark: #363933;
$color-darker: #333;

/* TYPOGRAPHY */

/* LAYOUT */
$border-radius: 2px;

/* EFFECTS */
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);

/* CSS Variables */
:root {
  --primary: #FF8C00;
  --primary-dark: #D97700;
  --primary-light: #FFA014;
  --background-color: #F4F4F4;
  --text-color: #333;
}
