/* Anything that is font-specific such as headers, titles, paragraph...  */

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, label, input, button {
  font-family: "Space Grotesk";
}

.btn,
a.btn,
button {
  color: #fff;
  font-weight: bold;
}
