/* Additional classes used for simple things like margins, centering, etc */

.mt-2 {
  margin-top: 2rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.pd-2 {
  padding-right: 2rem;
}
.is-small {
  font-size: 1.2rem;
}
.is-right {
  margin-left: auto !important;
}
.disabled {
  pointer-events: none;
  filter: grayscale(1);
}
.is-floating {
  position: absolute !important;
}
.is-sticky {
  position: sticky !important;
}
.is-relative {
  position: relative !important;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
}
.is-phantom {
  transition: opacity 0.2s;
  opacity: 0.1;
  pointer-events: none;

  &:focus {
    opacity: 1;
  }
}
.is-fullwidth {
  width: 100%;
}
.has-text-center {
  text-align: center;
}
.centered {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
