@use '../abstract/variables';
@use 'sass:color';

%balance {
  padding: 0 1rem;
}

.balance {
  @extend %balance;
  // text-align: right;

  &__title,
  &__subtitle {
    display: block;
    font-weight: normal;
  }

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 2rem;
  }
}
