@use '../abstract/variables';
@use '../abstract/mixins';
@use '../components/tag';

.expenses {
  // position: absolute;
  min-height: min-content;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
  @include mixins.hide-scroll-bar;

  &::-webkit-scrollbar {
    display: none
  }
  /* end of scrollbar styling*/

  &__header {
    margin: 0.5rem;
    padding: 1rem 0;
    align-items: center;
  }

  &__item {
    position: relative;
    margin: 0.5rem;
    padding: 1rem;
    background: #fff;
    border: 1px solid variables.$color-gray-dark;
    border-bottom: 2px solid variables.$color-gray-dark;
    border-radius: variables.$border-radius;

    &:hover,
    &:focus,
    &:target {
      border-bottom: 2px solid variables.$color-primary;
    }

    &:hover &__category,
    &:hover &__description {
      display: block;
    }
  }

  &__title {
    font-weight: bold;

    &:hover,
    &:focus,
    &:target {
      color: variables.$color-primary;
    }
  }

  &__amount {
    @extend %tag;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0 0.25rem;
    pointer-events: none; // this may need to change if introducing advanced filtering options
  }

  &__createdAt {
    display: block;
  }

  &__category {
    display: none;
    // @extend %tag;
    // position: absolute;
    // top: 1rem;
    // right: 1rem;
    // padding: 0 0.25rem;
    // pointer-events: none; // this may need to change if introducing advanced filtering options
  }

  &__description {
    display: none;
    color: variables.$color-dark;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 35ch;
  }
}
