@use '../abstract/variables';
@use '../abstract/mixins';
@use '../components/input';

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 60%;
  margin: 0 auto;

  &--spaced {
    gap: 2rem;
  }

  &__control-group {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.responsive(tablet) {
      flex-direction: column;
    }

    &--center {
      justify-content: center;
      gap: 2rem;
    }

    &--hidden {
      pointer-events: none;
      width: 0;
      height: 0;
      visibility: hidden;
    }
  }

  &__label {
    padding: 1rem;
    color: var(--text-color);

    @include mixins.responsive(tablet) {
      padding: 1.5rem 0 0 0;
      align-self: flex-start;
    }
  }

  &__input {
    @extend %text-input;

    min-width: 25rem;

    @include mixins.responsive(tablet) {
      width: 100%;
    }

    &--file {
      display: none;
    }

    // Used for the password-meter strength
    &--poor { @extend %input-error; }
    &--weak { @extend %input-warning; }
    &--average { @extend %input-warning; }
    &--okay { @extend %input-info; }
    &--strong { @extend %input-success; }

    &:hover + .form__toggle,
    &:focus + .form__toggle {
      fill: variables.$color-dark;
    }
  }

  &__toggle {
    // The toggle to hide/show passwords in inputs
    position: absolute;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    border: none;
    background: none;
    fill: variables.$color-gray-dark;

    @include mixins.responsive(tablet) {
      bottom: 2.5rem; // Aligns icon with input's end
    }

    &:hover {
      cursor: pointer;
      fill: var(--primary);
    }

    &:focus,
    &:target {
      fill: var(--primary);
    }
  }

  &__dropdown {
    @extend %select-input;
    min-width: 25rem;

    @include mixins.responsive(tablet) {
      align-self: flex-start;
      width: 100%;
    }

    &-toggle {
      position: absolute;
      right: 1.5rem;
      border: none;
      background: none;
      fill: variables.$color-dark;
      font-size: 2.5rem;
      line-height: 2rem;
      transform: rotate(-90deg);
      pointer-events: none;
    }
  }

  &__category {
    @extend %radio-input;
    min-width: min-content;
    padding: 0 0.5rem;

    &:hover {
      background: var(--primary-light);
      color: var(--background-color);
    }

    &:focus {
      border: 2px solid var(--text-color);
    }
  }

  &__category-list {
    max-width: 40rem;
    text-align: right;
  }

  &__checkbox {
    display: none;

    &:checked + .form__category {
      background: var(--primary-light);
      color: var(--background-color);
    }
  }

  &__textarea {
    min-height: 10rem;
  }

  .btn {
    margin: 1rem 0;
    min-width: min-content;
    align-self: center;
  }
}
