@use '../abstract/variables';

%text-input {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  background: #fff;
  border: 1px solid variables.$color-gray-dark;
  border-bottom: 2px solid variables.$color-gray-dark;
  border-radius: variables.$border-radius;
  font-size: 1.6rem;
  min-height: 4.8rem; // totally arbitrary to align it with react-dates picker

  &--hidden {
    pointer-events: none;
    width: 0;
    height: 0;
  }

  &:hover,
  &:focus,
  &:target,
  &:not(:placeholder-shown) {
    border-bottom: 2px solid var(--primary);
  }

  &[readonly] {
    color: variables.$color-gray-dark;

    &:hover {
      cursor: default;
    }
  }
}

%input-error,
%input-warning,
%input-info,
%input-success {
  @extend %text-input;
  text-decoration: underline;
  text-decoration-style: wavy;
}
%input-error { text-decoration-color: orangered !important; }
%input-warning { text-decoration-color: #ffaa3e !important; }
%input-info { text-decoration-color: #a9bf0e !important; }
%input-success { text-decoration-color: #8dc648 !important; }


%select-input {
  position: relative;
  appearance: none;
  background: #fff;
  padding: 1rem;
  margin: 1rem 0;
  padding-right: 3rem;
  border: 1px solid variables.$color-gray-dark;
  border-bottom: 2px solid variables.$color-gray-dark;
  min-height: 4.8rem; // totally arbitrary to make it align with react-dates picker
  line-height: 2.4rem;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
    background-color: variables.$color-light;
  }
}

%radio-input {
  display: inline-block;
  position: relative;
  border: 2px solid variables.$color-gray-dark;
  border-radius: variables.$border-radius;
  background: var(--background-color);
  color: var(--text-color);
  width: 3rem;
  height: 3rem;
  margin-left: 1.5rem;

  &:hover {
    cursor: pointer;
    background-color: variables.$color-primary;
  }

  &:hover::before {
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
