@use '../abstract/mixins';

.SingleDatePicker {
  @include mixins.responsive(tablet) {
    align-self: flex-start;
  }
}

.DateInput_input {
  border-bottom: 2px solid var(--primary);
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover,
.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
	background: var(--primary);
	border: 1px double var(--primary);
	color: #fff;
}

.CalendarDay__selected_span {
	background: var(--primary-light);
	border: 1px double var(--primary);
	color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
	border-top: 26px solid transparent;
	border-right: 33px solid var(--primary);
	bottom: 0;
	right: 0;
}

.DateRangePickerInput .DateInput_input {
  border-bottom: 2px solid transparent;
}

.DateRangePickerInput .DateInput_input:not(:placeholder-shown) {
  border-bottom: 2px solid var(--primary);
}

.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: var(--primary-light);
  border: 1px double var(--primary);
  color: var(--background-color);
}
