.page {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1rem;

  &__title {
    font-size: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}
